[{sasl,[{errlog_type,error}]},
 {sapphire,
     [{'Elixir.Sapphire.Endpoint',
          [{url,[{host,<<"example.com">>},{port,80}]},
           {root,<<"/home/puppeteer/projects/sapphire">>},
           {secret_key_base,
               <<"wkuAfNfluye6fO9cZ+Q1kPY073VU+hLo8NeSx7g31Af+m03VLT6KBthIy3hLQgVB">>},
           {render_errors,[{accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.Sapphire.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,{system,<<"PORT">>}}]},
           {cache_static_manifest,<<"priv/static/manifest.json">>}]},
      {'Elixir.Sapphire.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {username,<<"postgres">>},
           {password,<<"postgres">>},
           {database,<<"sapphire_prod">>},
           {pool_size,20}]}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {level,info}]},
 {phoenix,
     [{generators,[{migration,true},{binary_id,false}]},
      {serve_endpoints,true}]}].
